__pycache__
.idea
animations/Live-Portrait-ONNX
Live-Portrait-TensorRT
Live-Portrait-TensorRT-FP32
Live-Portrait-TensorRT-FP16
live_portrait_weights
animations
*.pyc
debug
.DS_Store
code_test.py
output_video.mp4
run_live_portrait_img2img.py
push_model_hf.py
test_cfg.py
spade_generator.onnx
spade_generator.quant.onnx
efficient-live-portrait.yaml
img.png
img_1.png
test_2_multiple_face.mp4
test_driving_3_face.mp4
