__pycache__
.idea
dw_pose
animations/Live-Portrait-ONNX
Live-Portrait-TensorRT
Live-Portrait-TensorRT-FP32
Live-Portrait-TensorRT-FP16
live_portrait_weights
animations
*.pyc
debug
.DS_Store
code_test.py
output_video.mp4
push_model_hf.py
spade_generator.onnx
spade_generator.quant.onnx
efficient-live-portrait.yaml
test_cfg.py
img.png
img_1.png
test_2_multiple_face.mp4
test_driving_3_face.mp4
